<!-- START BREADCRUMB -->
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Tables</a></li>
  <li class="active">{{title}}</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">
  <h2>{{title}}</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
      <div class="col-md-12">

          <!-- START DEFAULT DATATABLE -->
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">
                    <button type="button" class="btn btn-info form-control" (click)="ubicar();cargarSingle(userId)" style="cursor:pointer;"><i class="fa fa-map-marker"></i>Ubicar</button>
                  </h3>
                  <ul class="panel-controls">
                      <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                  </ul>
              </div>
              <div class="panel-body">
                  <form *ngIf="selectedData" id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                    <div class="form-group col-xs-12 m-b-6">
                      <ng2-map *ngIf="selectedData.posiciones[0]"
                        zoom="16"
                        center="{{(+selectedData.posiciones[0].latitud)+0.00100000}}, {{(+selectedData.posiciones[0].longitud)-0.00262600}}"
                        mapTypeId="roadmap">
                          <marker *ngFor="let data of positions" [position]="data"></marker>
                      </ng2-map>
                      <ng2-map *ngIf="!selectedData.posiciones[0]"
                        zoom="16"
                        center="14.66530813990437, -90.51709514672852"
                        mapTypeId="roadmap">
                      </ng2-map>
                    </div>
                    <input type="hidden" class="form-control" id="usuario" name="usuario" required
                            ngModel #usuario="ngModel" [(ngModel)]="selectedData.usuario">
                    <input type="hidden" class="form-control" id="id" name="id" required
                            ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                    <div class="form-group col-xs-12 text-right m-b-15">
                        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button> -->
                        <!-- <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button> -->
                    </div>
                </form>
              </div>
          </div>
          <!-- END DEFAULT DATATABLE -->


          <!-- Inicio Modal Ingreso -->
            <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Edicion de datos</h4>
                      </div>
                      <div>

                      </div>
                      <div class="modal-footer" style="border:none;">
                      </div>
                  </div>
              </div>
            </div>
          <!-- Final Modal Ingreso -->

<!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
  <div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
        <app-loader></app-loader>
      </div>
    </div>
  </div>
<!-- Fin Loader Modal -->
