<!-- START BREADCRUMB -->
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Tables</a></li>
  <li class="active">{{title}}</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">
  <h2>{{title}}</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
      <div class="col-md-12">

          <!-- START DEFAULT DATATABLE -->
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">
                    <!-- Nav -->
                      <div *ngIf="idRol<=2" class="col-md-3">
                        <div class="btn-group btn-group-justified">
                            <a style="cursor:pointer;" routerLinkActive="active" [routerLink]="[ './../alertas' ]" class="btn btn-info"><i class="fa fa-exclamation-triangle"></i>Alertas</a>
                            <a style="cursor:pointer;" routerLinkActive="active" [routerLink]="[ './../alertas-atendidas' ]" class="btn btn-danger"><i class="fa fa-check"></i>Alertas Atendidas</a>
                        </div>
                      </div>
                    <!-- End Nav -->
                  </h3>
                  <ul class="panel-controls">
                      <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                  </ul>
              </div>
              <div class="panel-body">
                  <table class="table datatable table-hover table-responsive"  [mfData]="Table | filter : search" #mf="mfDataTable"
                  [mfRowsOnPage]="rowsOnPage">
                      <thead>
                          <tr>
                              <th style="width:80%;">
                                <mfDefaultSorter by="descripcion">descripcion</mfDefaultSorter></th>
                              <th style="width:20%;"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let data of mf.data">
                              <td>{{((data.descripcion!=null)?data.descripcion:'')}}</td>
                              <td style="text-align:center;">

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-eye"></i> Ver</button>
                                <!-- <button type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button> -->

                              </td>
                          </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                            <td colspan="2" style="width:100%;">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        </tfoot>
                  </table>
              </div>
          </div>
          <!-- END DEFAULT DATATABLE -->

          <!-- Inicio Modal Ingreso -->
            <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Edicion de datos</h4>
                      </div>
                      <div>
                          <form *ngIf="selectedData" id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                              <div class="form-group col-xs-12 m-b-15">
                                    <label for="direccion">Direccion</label>
                                    <input type="text" class="form-control" id="direccion" name="direccion" required disabled
                                            ngModel #direccion="ngModel" placeholder="direccion" [(ngModel)]="selectedData.direccion">
                                      <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)"
                                            class="alert alert-danger" role="alert">
                                          <small *ngIf="direccion.errors.required">
                                              El Direccion es invalido
                                          </small>
                                      </div>
                                </div>
                                <div class="form-group col-xs-12 m-b-15">
                                    <label for="descripcion">Descripcion</label>
                                    <input type="text" class="form-control" id="descripcion" name="descripcion" required disabled
                                            ngModel #descripcion="ngModel" placeholder="descripcion" [(ngModel)]="selectedData.descripcion">
                                      <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                                            class="alert alert-danger" role="alert">
                                          <small *ngIf="descripcion.errors.required">
                                              La descripcion es invalido
                                          </small>
                                      </div>
                                </div>

                                <div class="form-group col-xs-6 m-b-6">
                                    <label for="fecha">Fecha</label>
                                    <input type="date" class="form-control" id="fecha" name="fecha" required disabled
                                            ngModel #fecha="ngModel" placeholder="fecha" [(ngModel)]="selectedData.fecha">
                                      <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"
                                            class="alert alert-danger" role="alert">
                                          <small *ngIf="fecha.errors.required">
                                              La Fecha es invalido
                                          </small>
                                      </div>
                                </div>

                                <div class="form-group col-xs-6 m-b-6">
                                    <label for="hora">Hora</label>
                                    <input type="time" class="form-control" id="hora" name="hora" required disabled
                                            ngModel #hora="ngModel" placeholder="hora" [(ngModel)]="selectedData.hora">
                                      <div *ngIf="hora.invalid && (hora.dirty || hora.touched)"
                                            class="alert alert-danger" role="alert">
                                          <small *ngIf="hora.errors.required">
                                              La Hora es invalido
                                          </small>
                                      </div>
                                </div>
                                <div class="form-group col-xs-12 m-b-6">
                                  <ng2-map
                                    zoom="16"
                                    center="{{(+selectedData.latitud)+0.00100000}}, {{(+selectedData.longitud)-0.00262600}}"
                                    mapTypeId="roadmap">
                                      <marker [position]="positions"></marker>
                                  </ng2-map>
                                </div>
                                <input type="hidden" class="form-control" id="usuario" name="usuario" required
                                        ngModel #usuario="ngModel" [(ngModel)]="selectedData.usuario">
                                <input type="hidden" class="form-control" id="id" name="id" required
                                        ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                              <div class="form-group col-xs-12 text-right m-b-15">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                                  <button type="button" (click)="update(id.value,1)" class="btn btn-success"><i class="fa fa-save"></i> Activar Alerta</button>
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer" style="border:none;">
                      </div>
                  </div>
              </div>
            </div>
          <!-- Final Modal Ingreso -->

<!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
  <div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
        <app-loader></app-loader>
      </div>
    </div>
  </div>
<!-- Fin Loader Modal -->
