<!-- START BREADCRUMB -->
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Tables</a></li>
  <li class="active">{{title}}</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">
  <h2>{{title}}</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
      <div class="col-md-12">

          <!-- START DEFAULT DATATABLE -->
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">
                    <!-- <button type="button" class="btn btn-info form-control" (click)="ubicar()" style="cursor:pointer;"><i class="fa fa-plus"></i>Nuevo</button> -->
                  </h3>
                  <ul class="panel-controls">
                      <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                  </ul>
              </div>
              <div class="panel-body">
                <table class="table datatable table-hover table-responsive"  [mfData]="Table | filter : search" #mf="mfDataTable"
                  [mfRowsOnPage]="rowsOnPage">
                      <thead>
                          <tr>
                              <th style="width:20%;">
                                <mfDefaultSorter by="username">Usuario</mfDefaultSorter></th>
                              <th style="width:20%;">
                                <mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                              <th style="width:20%;">
                                <mfDefaultSorter by="rol">Rol</mfDefaultSorter></th>
                              <th style="width:30%;"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let data of mf.data">
                              <td>{{((data.username!=null)?data.username:'')}}</td>
                              <td>{{((data.email!=null)?data.email:'')}}</td>
                              <td>{{((data.roles.descripcion!=null)?data.roles.descripcion:'')}}</td>
                              <td style="text-align:center;">

                                <button *ngIf="Modificar==1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-eye"></i> Ver</button>
                                <!-- <button *ngIf="Eliminar==1" type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button> -->

                              </td>
                          </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        </tfoot>
                  </table>
              </div>
          </div>
          <!-- END DEFAULT DATATABLE -->


          <!-- Inicio Modal Ingreso -->
          <div id="insertModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Ingreso de datos</h4>
                    </div>
                    <div>
                      <form id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                        <div class="form-group col-xs-12 m-b-15">
                          <label for="direccion">Direccion</label>
                          <input type="text" class="form-control" id="direccion" name="direccion" required disabled
                                  ngModel #direccion="ngModel" placeholder="direccion">
                            <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="direccion.errors.required">
                                    El Direccion es invalido
                                </small>
                            </div>
                      </div>
                      <div class="form-group col-xs-12 m-b-15">
                          <label for="descripcion">Descripcion</label>
                          <input type="text" class="form-control" id="descripcion" name="descripcion" required disabled
                                  ngModel #descripcion="ngModel" placeholder="descripcion">
                            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="descripcion.errors.required">
                                    La descripcion es invalido
                                </small>
                            </div>
                      </div>

                      <div class="form-group col-xs-6 m-b-6">
                          <label for="fecha">Fecha</label>
                          <input type="date" class="form-control" id="fecha" name="fecha" required disabled
                                  ngModel #fecha="ngModel" placeholder="fecha" [(ngModel)]="beginDate">
                            <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="fecha.errors.required">
                                    La Fecha es invalido
                                </small>
                            </div>
                      </div>

                      <div class="form-group col-xs-6 m-b-6">
                          <label for="hora">Hora</label>
                          <input type="time" class="form-control" id="hora" name="hora" required disabled
                                  ngModel #hora="ngModel" placeholder="hora" [(ngModel)]="endDate">
                            <div *ngIf="hora.invalid && (hora.dirty || hora.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="hora.errors.required">
                                    La Hora es invalido
                                </small>
                            </div>
                      </div>
                      <div class="form-group col-xs-12 m-b-6">
                        <ng2-map
                          zoom="18"
                          center="14.66530813990437, -90.51709514672852"
                          (mapClick)="onMapClick($event)"
                          mapTypeId="roadmap">
                            <marker *ngFor="let data of positions" [position]="data" (click)="clicked11(data)"></marker>
                        </ng2-map>
                      </div>

                      <input type="hidden" class="form-control" id="latitud" name="latitud" required
                                  ngModel #latitud="ngModel" [(ngModel)]="lat">
                      <input type="hidden" class="form-control" id="longitud" name="longitud" required
                                  ngModel #longitud="ngModel" [(ngModel)]="lng">
                      <input type="hidden" class="form-control" id="usuario" name="usuario" required
                                  ngModel #usuario="ngModel" [(ngModel)]="userId">

                          <div class="form-group col-xs-12 text-right m-b-15">
                              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                              <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                          </div>
                      </form>
                    </div>
                    <div class="modal-footer" style="border:none;">
                    </div>
                </div>
            </div>
          </div>
        <!-- Final Modal Ingreso -->

          <!-- Inicio Modal Ingreso -->
            <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Edicion de datos</h4>
                      </div>
                      <div>
                          <form *ngIf="selectedData" id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                                <div *ngIf="selectedData.picture!=null" class="form-group col-xs-6 col-xs-offset-3">
                                        <img src="{{selectedData.picture}}" id="imgAvatar" alt="Avatar" style="width:100%;">
                                  </div>

                                <div class="form-group col-xs-12 m-b-15">
                                  <label for="username">Usuario</label>
                                  <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" id="username" name="username" required disabled
                                            ngModel #username="ngModel" placeholder="username" [(ngModel)]="selectedData.username">
                                  </div>
                                    <div *ngIf="username.invalid && (username.dirty || username.touched)"
                                          class="alert alert-danger" role="alert">
                                        <small *ngIf="username.errors.required">
                                            El Usuario es invalido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 m-b-15">
                                  <label for="email">Email</label>
                                  <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="email" class="form-control" id="email" name="email" required disabled
                                            ngModel #email="ngModel" placeholder="email" [(ngModel)]="selectedData.email">
                                  </div>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                          class="alert alert-danger" role="alert">
                                        <small *ngIf="email.errors.required">
                                            El Email es invalido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-xs-6 m-b-15">
                                  <label for="privileges">Privilegios</label>
                                  <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <select class="form-control" id="privileges" name="privileges" disabled
                                            ngModel #privileges="ngModel" [(ngModel)]="selectedData.privileges">
                                      <option value="0"></option>
                                      <option value="1" selected>Acceso Total</option>
                                      <option value="2">Acceso Limitado</option>
                                    </select>
                                  </div>
                                    <div *ngIf="privileges.invalid && (privileges.dirty || privileges.touched)"
                                          class="alert alert-danger" role="alert">
                                        <small *ngIf="privileges.errors.required">
                                            El Privilegios es invalido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-xs-6 m-b-15">
                                  <label for="rol">Rol</label>
                                  <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <select class="form-control" id="rol" name="rol" required disabled
                                            ngModel #rol="ngModel" [(ngModel)]="selectedData.rol">
                                      <option value=""></option>
                                      <option *ngFor="let data of secondParentCombo" value="{{data.id}}">{{data.descripcion}}</option>
                                    </select>
                                  </div>
                                    <div *ngIf="rol.invalid && (rol.dirty || rol.touched)"
                                          class="alert alert-danger" role="alert">
                                        <small *ngIf="rol.errors.required">
                                            El Rol es invalido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 m-b-6">
                                  <ng2-map
                                    zoom="16"
                                    center="{{(+selectedData.posiciones[0].latitud)+0.00100000}}, {{(+selectedData.posiciones[0].longitud)-0.00262600}}"
                                    mapTypeId="roadmap">
                                      <marker *ngFor="let data of positions; let i = index" [position]="data" (click)="clicked11(i)"></marker>
                                  </ng2-map>
                                </div>
                                <input type="hidden" class="form-control" id="usuario" name="usuario" required
                                        ngModel #usuario="ngModel" [(ngModel)]="selectedData.usuario">
                                <input type="hidden" class="form-control" id="id" name="id" required
                                        ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                              <div class="form-group col-xs-12 text-right m-b-15">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                                  <!-- <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button> -->
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer" style="border:none;">
                      </div>
                  </div>
              </div>
            </div>
          <!-- Final Modal Ingreso -->

<!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
  <div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
        <app-loader></app-loader>
      </div>
    </div>
  </div>
<!-- Fin Loader Modal -->
