/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.xn-title{
  color: #ffffff;
  text-align: center;
}
.loader  div  .loader1 {
  background-color: #1caf9a !important;
  width: 20px;
  height: 100px;
}
body,html{
  height: 100%;
}

/* remove outer padding */
.main .row{
  padding: 0px;
  margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
  border-radius: 0px;
  background-color: #1d2127;
}

nav.sidebar, .main{
  -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
  padding: 10px 10px 0 10px;
}
nav.sidebar .navbar-nav > li{
  cursor: pointer;
}
/* .....NavBar: Icon only with coloring/layout.....*/
.profile {
  width: 100%;
  float: left;
  position: relative;
  background: #080a0e;
  height: 120px;
}
.profile .profile-image img {
  height: 50px;
  width: 50px;
}
/*small/medium side display*/
@media (min-width: 768px) {
  .profile {
    width: 100%;
    float: left;
    padding: 15px 10px;
    position: relative;
    background: #080a0e;
    height: 100%;
}
.profile .profile-image img {
  height: 100px;
  width: 100px;
}
  nav.sidebar.navbar {
    border-radius: 0px;
    position: fixed;
    background-color: #1d2127;
  }
  /*Allow main to be next to Nav*/
  .main{
    position: absolute;
    width: calc(100% - 40px); /*keeps 100% minus nav size*/
    margin-left: 40px;
    float: right;
  }

  /*lets nav bar to be showed on mouseover*/
  nav.sidebar:hover + .main{
    margin-left: 200px;
  }

  /*Center Brand*/
  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
  /*Center Brand*/
  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  /*Center Icons*/
  nav.sidebar a{
    padding-right: 13px;
  }

  /*adds border top to first nav box */
  nav.sidebar .navbar-nav > li:first-child{
    /* border-top: 1px #e5e5e5 solid; */
  }

  /*adds border to bottom nav boxes*/


  /* Colors/style dropdown box*/
  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /*allows nav box to use 100% width*/
  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }

  /*colors dropdown box text */
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  /*gives sidebar width/height*/
  nav.sidebar{
    width: 220px;
    height: 100%;
    margin-left: 0px;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
  }

  /*give sidebar 100% width;*/
  nav.sidebar li {
    width: 100%;
  }

  /* Move nav to full on mouse over*/
  nav.sidebar:hover{
    margin-left: 0px;
  }
  /*for hiden things when navbar hidden*/
  .forAnimate{
    opacity: 0;
  }
}

/* .....NavBar: Fully showing nav bar..... */



nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate{
  opacity: 1;
}
section{
  padding-left: 15px;
}
